<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['timeline']});

      google.charts.setOnLoadCallback(drawTimeline);
      function drawTimeline() {
        var container = document.getElementById('timeline');
        var chart = new google.visualization.Timeline(container);
        var dataTable = new google.visualization.DataTable();
        dataTable.addColumn({ type: 'string', id: 'Layer' });
        dataTable.addColumn({ type: 'string', id: 'Function' });
        dataTable.addColumn({ type: 'string', id: 'style', role: 'style' });
        dataTable.addColumn({ type: 'date', id: 'Start' });
        dataTable.addColumn({ type: 'date', id: 'End' });
  
        dataTable.addRows([
          {{ range $g := .TL.Goroutines }}
            {{ range $index, $layer := .Layers}}
              {{ range $layer.Calls }}
                [ '{{ $g.ID }}: {{ $g.Signature | Creator }}', '{{ .Name }}', '{{ Color .Package $index }}',  new Date({{ .StartDelta | Milliseconds }}), new Date({{ .EndDelta | Milliseconds }}) ],
              {{ end }}
            {{ end }}
          {{ end }}
        ]);
        var options = {
          avoidOverlappingGridLines: false,
        };
        chart.draw(dataTable, options);
      }
    </script>
  </head>
  <body>
    <h1>SlowJam for {{ .Duration}} ({{ .TL.Samples }} samples) - <a href="/">full</a> | <a href="/simple">simple</a></h1>
    <div id="timeline" style="width: 3200px; height: 1024px;"></div>
  </body>
</html>

